* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
}

.libWrapper {
    /* display: grid; */
    /* gap: 20px; */
    /* grid-template-columns: repeat(6, 200px); */
    /* grid-template-columns: 200px; */
    grid-auto-columns: 100px;
    justify-content: center;
}

.bookWrapper {
    /* border: 1px solid black; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.bookCover {
    padding: 10px;
    object-fit: cover;
    border-radius: 20px;
    height: 260px;
}

.libWrapper p {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.readBtn {
    background-color: rgb(162, 188, 233);
    border-radius: 4px;
    border: none;
    height: 26px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

.info {
    height: 60px;
    overflow: hidden;
}

.author {
    color: gray;
}